/* <div class="main-container">
<div class="button"></div>
<div class="camera">
  <div class="lens">
    <div class="inner-lens"></div> */
.body {
  margin: 0;
  padding: 0;
}

.main-container {
  border: rgb(4, 0, 255) 1px solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.camera-upper {
  border: steelblue solid 1px;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  border: rgb(187, 18, 18) 1px solid;
  height: 2rem;
  width: 5rem;
  transform: translate(-17rem, 5.1rem);
  transition: color ease 3s;
  &:hover{
    background-color: black;
  }
}
.camera {
  border: rgb(27, 219, 53) 1px solid;
  height: 40rem;
  width: 50rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.visor-outter {
  /* border: crimson 1px solid; */
  width: 80%;
  /* height: 10rem; */
  display: flex;
  justify-content: flex-end;
}
.visor {
  border: rgb(27, 219, 53) 1px solid;
  /* border-bottom: white; */
  height: 5rem;
  width: 15rem;
}
.flash {
  border: crimson 1px solid;
  height: 5rem;
  width: 10rem;
  /* transform: translate(10rem); */
}
.lens {
  border: rgb(88, 6, 121) 1px solid;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-lens {
  border: black 1px solid;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
