.body {
  margin: 0;
  padding: 0;
}

.main-container {
  border: rgb(4, 0, 255) 1px solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-outter{
  border: black 2px solid;
  background-color: lavender;
  height: 50rem;
  width: 50rem;
  padding: 3rem 0rem 0rem 0rem;
  /* margin: 2rem 0rem; */
  box-shadow: rgb(82, 79, 79) 0 1rem 1rem 0;
  margin-top: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;  
  overflow: hidden;
  animation-name: foto-slide;
  animation-duration: 10s;
  animation-delay: 2.5s;
}
  
@keyframes foto-slide{
  0%{
    margin-top: 100%;
  }
  25%{
    margin-top: 0%;  
  }

  100%{
    margin-top: 0;
  }
}

.foto{
  height: 80%;
  width: 90%;
  animation-name: foto-fade;
  animation-delay: 5s;
  animation-duration: 10s;
  opacity: 0%;


}

@keyframes foto-fade{
  0%{
    opacity: 0%;
  }
  80%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

.camera-upper {
  border: steelblue solid 1px;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: steelblue solid;
}

.button {
  border: rgb(15, 0, 0) 2px solid;
  height: 2rem;
  width: 5rem;
  transform: translate(-17rem, 5.1rem);
  background-color: rgb(187, 18, 18);
  animation-name: press-button;
  animation-duration: 0.2s;
  animation-delay: 1.8s;

}

@keyframes press-button{
  from{
    height: 2rem;  
  }
  to{
    height: 0.5rem;    
  }
}

.camera {
  border: rgb(27, 219, 53) 1.5px solid;
  background-color: rgb(6, 11, 43);
  height: 40rem;
  width: 50rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.visor {
  border: rgb(27, 219, 53) 2px solid;
  border-bottom: 0px;
  background-color: rgb(6, 11, 43);
  height: 5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-visor{
  border: 2px rgb(10, 135, 167) solid;
  background: radial-gradient(ellipse farthest-corner, rgb(161, 155, 155),rgb(119, 121, 34));
  height: 3.5rem;
  width: 4rem;
}

.flash-outter {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.flash {
  border: crimson 2px solid;
  background-color: rgb(202, 103, 123);
  background: repeating-linear-gradient(-45deg, rgb(202, 103, 123) 15px, white 20px), rgb(202, 103, 123) 20px;
  height: 5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-ligth{
  transform: rotate(45deg);
  background-color: white;
  animation-name: ligth-flash;
  animation-duration: 0.2s;
  animation-delay: 2.5s;
}

@keyframes ligth-flash {

  from{
    width: 0rem;
    height: 0rem;
  }

  to{
    width: 100rem;
    height: 100rem;
  }
}

.rotate{
  transform: rotate(15deg);
}

.lens {
  border: rgb(176, 31, 196) 1px solid;
  background-color: rgb(88, 6, 121);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-lens {
  border: black 2px solid;
  background-color: rgb(182, 167, 167);
  background: radial-gradient(rgb(150, 140, 140), rgb(99, 80, 80));
  background: linear-gradient(135deg, rgb(10, 3, 3),rgb(39, 39, 141));
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
